/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  width: 100%;
  margin-right: auto;
  margin-left : auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
.main-header {
  position: fixed;
  width: 100%;
  height: 50px;
  background: #ebf397;
  list-style: none;
  overflow: hidden;
}
.main-header li {
  width: 140px;
  list-style: none;
  text-align: center;
  float: left;
}
.main-header li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.container {
  padding: 50px 0 0 0;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  background: #F00;
}
.sidebar {
  width: 30%;
  max-width: 300px;
  background: #DDD;
}
.sidebar__item {
  margin-bottom: 20px;
}
.main {
  display: block;
  width: 100%;
  background: #d5fffa;
}
.main-footer {
  width: 100%;
  height: 50px;
  background: #ebf397;
}
